*{
    margin: 0;
    padding: 0;
}
.kate{
    height: 600px;
    width: 960px;
    margin: 0 auto;
}
.me{
    height: 600px;
    width: 960px;
    margin: 0 auto;
}
.text{
    height: 600px;
    width: 960px;
    margin: 0 auto;
}